<h1>Ui Rendering</h1>


<!-- @for(product of products; track product.id ){

  <p>{{product.name}} {{$count}} {{$even}} {{$first}}</p>


} -->



<!-- 
@for(product of products;track product.id)
{

  <app-product 
  [name]=product.name 
  [price]=product.price 
  [category] =product.category 
  [country] = product.country

/>


} -->

<!-- <button (click)="toggleComponent()" >Load/Mount Component</button>
<button (click)="toggleComponent()">Unload/Unmount Component</button>

<button (click) = "changeCategory()">Change Category</button> -->


<!-- @if(showProduct == true )
{
  <app-product
  [name]= proname
  [price]= proprice 
  [category] = procategory 
  [country] = procountry

  />


 
} -->


<!-- <app-product
[name]= proname
[price]= proprice 
[category] = procategory 
[country] = procountry

/> -->


<app-about/>

<app-service/>














