<app-header/>

<div class="products">

    @for(product of products;track product.id)
    {
        <div class="product">
            <div class="card-img">
                <img [src]=product.imageUrl alt="Image">
            </div>

            <div class="card-details">
                <h3>{{product.name}}</h3>
                <p>Technology . Phone . Camera</p>
                <p>$ {{product.price}}</p>

                @if(checkIfExistInCart(product.id)===false)
                {
                    <button class="btn" (click)="addToCart(product.id)"> Add To Cart</button>
                }
                @else 
                {
                    <div class="quantity">
                        <button class="btn" (click)="updateItem(product.id,-1)" >-</button>
                        {{extractQuantity(product.id)}}
                        <button class="btn" (click)="updateItem(product.id,1)">+</button>
                    </div>
                }

                
            </div>

        </div>
    }

</div>
