.dash-container
{
    width: 100%;
    padding: 50px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}

.table
{
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%;
}


td,th
{
    border: 1px solid gray;
    padding: 10px;
}

.pimg 
{
    width: 30px;
    transition: .4s;
}

.pimg:hover 
{
    transform: scale(10);
  
}

.actions
{
    display: flex;
    /* background-color: yellow; */
    column-gap: 15px;
    /* border: none */
}

.update
{
    color: green;
}

.delete
{
    color: red;
}
