.form-container
{
    width: 100%;
    padding: 50px;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
}

.form 
{
    width: 30%;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.inp 
{
    width: 100%;
    height: 40px;
    text-indent: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}

.btn
{
    align-self: flex-start;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0c85e9;
    border: none;
    color: white;
    cursor: pointer;
    transition: .3s;
    
}

.btn:disabled
{
    cursor: not-allowed;
    background-color: lightgray;
}

.btn:enabled:hover
{
    background-color: #1766a7;
}